hr {
	margin: 0;
	border-top: 1px solid #333;
}
#wrapper {
	min-width: 946px;
}
#contentsWrapper {
	padding: 15px;
	background-color: #f7f7f7;
}
#header, #contents {
	max-width: 1248px;
	margin: auto;
}
#header {
	padding-left: 0;
	padding-right: 0;
	h3 {
		float: left;
		margin-bottom: 20px;
		a {
			color: #333;
			&:hover {
				text-decoration: none;
			}
		}
	}
	#shareButtons {
		float: right;
		margin-top: 35px;
		ul {
			li {
				list-style-type: none;
				float: left;
				margin-left: 10px;
			}
		}
	}
}
#menu {
	background-color: #555;
	div.container-fluid {
		max-width: 1248px;
		ul.menu-list {
			padding-left: 0;
			list-style: none;
			li {
				float: left;
				height: 35px;
				width: 200px;
				line-height: 35px;
				text-align: center;
				a {
					color: #ccc;
				}
			}
			li.current {
				background-color: #039be5;
				a {
					color: #fff;
				}
			}
		}
	}
}
#contents {
	background-color: #fff;
}
#footer {
	background-color: #333;
	padding-top: 10px;
	div.container {
		max-width: 1248px;
		padding: 0;
	}
	a {
		color: #fafafa;
	}
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
