#trendTopAd {
	border: solid 1px #ddd;
	text-align: center;
}
#trendAlert {
	background-color: #48a322;
	margin-bottom: 0;
	p {
		color: #fff;
	}
}
#trendCalendar {
	background-color: #f5f5f5;
	.calendar {
		float: right;
		input.datepicker {
			margin-top: 0;
			height: 35px;
			border-radius: 0;
		}
		input.btn {
			border-radius: 0;
		}
	}
}
.trend-header {
	text-align: center;
	border: solid 1px #ddd;
	h3 {
		margin-top: 10px;
	}
}
.background-block {
	width: 100%;
	height: 20px;
	background-color: #f5f5f5;
}
#trendVideoList {
	border: solid 1px #ddd;
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
			padding: 5px;
			.yt-img {
				float: left;
				margin-right: 10px;
				text-align: center;
				width: 196px;
				img {
					width: 196px;
					height: 110px;
				}
			}
			.yt-info {
				overflow: hidden;
				position: relative;
				h3 {
					margin: 0;
					font-size: 16px;
					max-width: 499px;
				}
				div {
					color: #767676;
				}
				div.channel {
					margin: 10px 0;
					span.title {
						margin-right: 15px;
					}
				}
			}
		}
		li.novideo {
			text-align: center;
			p {
				font-size: 16px;
			}
		}
	}
}
#trendVideo {
	padding: 10px;
	.video {
		text-align: center
	}
	.info {
		h3 {
			margin-top: 0;
		}
		div {
			color: #767676;
			font-size: 18px;
		}
		div.view-cnt {
			float: left;
			margin: 7px 0;
		}
		div.eval {
			float: right;
			margin: 7px 30px 7px 0;
		}
		div.linkYouTube {
			margin: 10px 0;
		}
	}
}
#trendVideoAd {
	text-align: center;
	text-align: center;
}
#trendChannels {
	padding: 0;
	table {
		th {
			text-align: center;
		}
		td.img {
			img {
				width: 80px;
				height: 80px;
			}
		}
		td.channel-info {
			h4 {
				margin-top: 0;
			}
		}
		td.cnt {
			width: 10%;
			text-align: right;
		}
	}
}
.clearfix {
	clear: both;
}
